// libs
@import compass/reset.scss
// @import cerulean/variables
@import bootstrap.scss
// @import cerulean/bootswatch
@import compass
@import recipes
//
header, article, footer
    display: block
table
    input
        &.span1
            width: 60px
    .control-group
        margin-bottom: 10px !important
//fonts

// colors
$orange: #FFA818
$dark-blue: #333364
$light-blue: #333366
$gray: #999999
$light-gray: #ccc
$super-light-gray: #F5F5F5
$font: #333333

.dark-blue
    color: $dark-blue
    background-color: $dark-blue
.gray
    color: $gray
.font
    color: $font
.light-gray
    color: $light-gray
.orange
    color: $orange
    &:hover
        color: $orange


//bootrtrap colors hover for ie
// tipographica
h1
    font-size: 60px
h2
    font-size: 18px
    line-height: 21px
h3
    font-size: 16px
    line-height: 17px
h4
    font-size: 13px
    line-height: 15px
p
    font-size: 13px
    line-height: 22px

.center
    text-align: center
// global
html
    height: 100%
body
    color: $font
    height: 100%

.navbar 
    .brand
        color: $orange
    .nav
        li
            &:hover
                background-color: $light-blue
            a
                color: $light-gray !important
                padding-top: 11px
                +text-shadow(none)
                &:hover
                    color: $orange !important
.brand
    text-decoration: none
.navbar-inner
    +gradient-vertical($dark-blue, $light-blue)
.margin-top
    margin-top: 20px
.margin-top-big
    margin-top: 32px

a
    text-decoration: underline
    color: $font
    &:hover
        text-decoration: none
        color: $font
.pull-r
    float: right
    text-align: right
.align-r
    text-align: right
.btn
    padding: 6px 10px 6px
    text-shadow: none
    
.box
    padding: 3px

.logo-height
    height: 68px
footer
    margin-top: 35px
    +gradient-vertical($dark-blue, $light-blue)
    color: #fff
    padding-top: 5px
    padding-bottom: 5px
    #info
        line-height: 32px
    #designed_by
        span
            color: #fff
            text-decoration: none
            margin-right: 7px
            vertical-align: middle
            margin-top: 2px
            display: inline-block
 
            
    
// carousel
.carousel
    .item
        img
            width: 960px !important
    a
        text-decoration: none
    .carousel-control
        top: 46%
// partials
#good
    h2
        font-size: 26px
        line-height: 30px
    .preview-m
        width: 460px
    .nav_add
        li
            float: left
            list-style: none
            margin-right: 7px
            a
                color: $light-blue
            &:after
                content: "/"
            .active
                color: $font
                text-decoration: none
// form
.form-horizontal 
    button
        margin-right: 20px
        color: #fff
        +buttonBackground($dark-blue, $light-blue)
        &:hover
            color: $orange
    .control-label
        width: 220px !important
        margin-right: 20px

// color

.gray-bottom-line
    border-bottom: 1px solid $light-gray
.super-gray-bottom-line
    border-bottom: 1px solid $super-light-gray

// sticky_footer
article
    padding-top: 81px
footer
    height: 32px


*
    margin: 0

html, body
    height: 100%

.wrapper
    min-height: 100%
    height: auto !important
    height: 100%
    margin: 0 auto -78px

.footer
    height: 32px
.push
    height: 35px
    margin-top: 35px


@import bootstrap-responsive.scss
// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
.navbar .btn-navbar
    @include buttonBackground($btnBackground, $btnBackgroundHighlight)
    @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)})
.navbar .btn-navbar .icon-bar
    background-color: $grayDark//#f5f5f5
    @include border-radius(1px)
    @include box-shadow(0 1px 0 rgba(0,0,0,.25))