<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title><%= @title %></title>
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body id="<%= @id %>">
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <header>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="index.html">Ворота для Вас</a>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li>
                                        <a href="index.html">Главная</a>
                                    </li>
                                    <li>
                                        <a href="about.html">О Компании</a>
                                    </li>
                                    <li>
                                        <a href="catalog.html">Каталог</a>
                                    </li>
                                    <li>
                                        <a href="feed_back.html">Обратная связь</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">Вопросы и ответы</a>
                                    </li>                
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <article>
                <div class="container">
                    <%= yield %>
                </div>
                <div class="push"></div>
            </article>
            
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <span id="info">© “Ворота для Вас”  Екатеринбург, Совхозная 20д, этаж 2, офис 4  +7(343) 201-14-05</span>
                        <div class="pull-right">
                            <a id="designed_by" href="http://www.de-core.net" target="_blank">
                                <span>Сайт разработан студией</span>
                                <img alt="de-core.net" src="img/decore_logo.png" width="49" height="32"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </body>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/locache.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
    
</html>