<% @id = "about" %>
<% @title = "О компании" %>
<div class="row">
	<div class="span9 offset3">
		<h1 class="orange">Кто мы?</h1>	
	</div>
	<div class="span12 gray-bottom-line margin-top"></div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span9 offset3">
				<p>Фирма ООО”иии” - официальный дистрибьютор Hörmann.Качество достойное уважения</p>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3 class="orange">О Компании</h3>
			</div>
			<div class="span9">
				<p>Когда сегодня на рынке строительных элементов идёт речь о воротах, дверях, коробках и приводах, то невольно подразумевается имя Hörmann.</p>
				<p>Немецкий концерн Hörmann является крупнейшим в Европе производителем и поставщиком гаражных и промышленных ворот, приводов, коробок и дверей различного назначения, а также перегрузочной техники.</p>
				<p>Основой корпоративной философии являются многолетний опыт под знаком инноваций, гарантированное качество и ориентация на потребности заказчиков.</p>
				<p>Управление концерном Hörmann, основателем которого является г-н Август Хёрманн, на сегодняшний день осуществляют его внук г-н Томас Й. Хёрманн, и правнуки г-н Мартин Й. Хёрманн и г-н Кристоф Хёрманн, т.е. третье и четвертое поколения.</p>
				<p>Годовой оборот предприятия, на котором трудятся более 6000 сотрудников, составляет более одного миллиарда евро. Сеть из более чем 50 представительств и многочисленных официальных дистрибьюторов в более чем 30 странах обеспечивают близость к клиентам.</p>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3 class="orange">Инновационные продукты</h3>
			</div>
			<div class="span9">
				<p>История предприятия Hörmann началась в 50-е годы прошлого века с изготовления нового типа гаражных ворот - подъёмно-поворотных ворот “Berry”.</p>
				<p>Разработка экономящих место, открывающихся вертикально секционных ворот для гаражей, а также для промышленных и ремесленных зданий заложила в 60-е годы основу для дальнейшего развития.</p>
				<p>Ассортимент продукции постоянно расширялся. На сегодняшний день он включает в себя не только вышеуказанные ворота, которые можно смело назвать “классикой”, но и секционные гаражные ворота, ворота для промышленного сектора: секционные промышленные ворота, рулонные, складывающиеся, огнестойкие и скоростные ворота, приводы для ворот и блоки управления, а также системы перегрузочной техники, огнестойкие и дымозащитные перегородки, входные и внутренние двери, козырьки и коробки.</p>
				<p>Информацию на английском и немецком языках об успешно завершившихся и текущих проектах, спонсируемых компанией Hörmann, Вы найдете на сайте www.AmHerzen.de.</p>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3 class="orange">Карта</h3>
				<p class="margin-top">Екатеринбург, Совхозная 20д, этаж 2, офис 4</p>
			</div>
			<div class="span9">
				<div id="map" class="thumbnail">
					<img src="http://placehold.it/690x470" alt="">
				</div>
			</div>
		</div>
	</div>
</div>