<% @id = "catalog" %>
<% @title = "Каталог" %>
<div class="row">
	<div class="span9 offset3">
		<h1 class="orange">Наш каталог</h1>	
	</div>
	<div class="span12 gray-bottom-line margin-top"></div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span12">
				<h2>Теперь у Вас есть возможность заказать или скачать проспекты.Для просмотра и распечатки документов в формате PDF Вам необходима новая версия программы Adobe Reader®, которую Вы можете скачать <a href="#">здесь</a>.</h2>
			</div>
		</div>
	</div>
	<div class="span12">
	    <div class="row">
	        <div class="span6 margin-top">
	            <div class="row">
	                <div class="span1">
	                    <img class="pull-left" src="img/preview/preview.png"/>
	                </div>
	                <div class="span5">
	                    <h4 class="orange">Гаражные секционные ворота</h4>
	                    <p>ellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. </p>
	                    <button class="btn">Читать дальше</button>
	                </div> 
	            </div>    
	        </div>
	        <div class="span6 margin-top">
	            <div class="row">
	                <div class="span1">
	                    <img class="pull-left" src="img/preview/preview.png"/>
	                </div>
	                <div class="span5">
	                    <h4 class="orange">Гаражные секционные ворота</h4>
	                    <p>ellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. </p>
	                    <button class="btn">Читать дальше</button>
	                </div> 
	            </div>    
	        </div>
	    </div>
	</div>
</div>