<% @id = "faq" %>
<% @title = "Вопросы и ответы" %>
<div class="row">
	<div class="span9 offset3">
		<h1 class="orange">Вопросы и ответы</h1>	
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span9 offset3">
				<h2>Ответы на часто задаваемые вопросы, а так-же несколько статей котоые помогут вам правильно измерить дверные проемы.</h2>
			</div>
		</div>
	</div>
	<div class="span12 gray-bottom-line margin-top"></div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span9 offset3">
				<h4 class="orange">Статьи</h4>	
			</div>
			<div class="margin-top">
				<div class="span3 align-r">
					<h3 class="orange">Как правильно замерять</h3>
				</div>
				<div class="span9">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut tristique velit. Quisque laoreet vulputate dolor semper dignissim. Donec blandit mattis sapien, iaculis aliquet massa pellentesque sed. Nunc vehicula sollicitudin ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat felis ac tortor hendrerit sed posuere ipsum commodo. Vivamus eget nibh enim. Nunc adipiscing congue viverra.</p>
					<p>Maecenas scelerisque dictum eros, sed lobortis elit pharetra sit amet. Nam vel leo mauris, sit amet sagittis nibh. Duis at tortor massa. Ut posuere, justo vel eleifend elementum, dolor tellus tincidunt quam, sed malesuada nisi justo ac tellus. Duis sollicitudin mi eu metus sodales imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean id augue turpis. Nunc dignissim dictum sem, at molestie odio congue ac. Nulla quis dui in dolor auctor blandit. Donec at elit sed tellus tincidunt pharetra. Nam sit amet ullamcorper orci.
					</p>
					<p>Sed vitae mauris congue turpis euismod facilisis. Fusce porta dapibus libero, ac ornare nulla mattis nec. Ut at elit a augue pharetra tincidunt. Pellentesque vitae velit sit amet dui facilisis tincidunt. Fusce accumsan vestibulum adipiscing. Curabitur non orci ante, a ullamcorper neque. Praesent in est nisl. Aenean vitae lectus sit amet mi vehicula egestas. Suspendisse tortor urna, accumsan ac egestas eget, euismod sit amet massa. Ut vitae lorem odio, eget mattis urna. Proin nisi sem, venenatis in lobortis vel, convallis ut urna. Etiam elementum lacinia mollis. Suspendisse libero nibh, pretium lobortis viverra ut, ornare vitae ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					</p>
					<p>Donec et bibendum purus. Sed id tristique urna. Sed pretium, orci ac mollis mollis, ligula urna tempus lacus, ut tincidunt dui lectus ac quam. Duis turpis erat, convallis nec aliquam ac, lacinia quis lacus. Sed tempus aliquet condimentum. Maecenas sed felis id mauris bibendum posuere ac at dui. Praesent dapibus sodales scelerisque. Sed et est pellentesque tortor aliquam dignissim. Suspendisse diam est, ullamcorper a commodo a, volutpat euismod turpis. Sed ac vestibulum metus.</p>
					<p>Vestibulum adipiscing vestibulum metus, eu suscipit urna aliquet faucibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla feugiat purus ut risus tincidunt ornare. Proin fringilla, lacus vel egestas pulvinar, dui massa congue sem, eu mattis tellus nisi varius felis. Vivamus ac tellus orci, sit amet ullamcorper est. Etiam quis velit nulla. Curabitur quis hendrerit arcu. Pellentesque vehicula accumsan turpis, vitae varius tortor aliquam sed. Nulla vulputate urna ut augue fermentum porta. Praesent quis tortor lectus. Sed nibh leo, congue id gravida in, cursus id neque. Phasellus sed commodo velit. Vestibulum nec nulla vitae neque laoreet vestibulum. Suspendisse euismod, dui non rutrum porta, diam odio tincidunt neque, nec auctor quam nibh sit amet leo.</p>
					<p>Aliquam erat volutpat. Integer interdum vestibulum euismod. Nam ullamcorper lacinia purus, et sagittis nunc consequat id. Nunc venenatis orci sit amet dui sodales pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ipsum est, fermentum sed porta in, auctor nec massa. Aliquam laoreet, erat sed vulputate cursus, neque neque rutrum nibh, nec congue metus velit mollis odio. Integer volutpat ultrices libero, eu euismod sapien porta id. Aenean rutrum massa sem, et viverra arcu. Curabitur at magna ac ante mattis vulputate. Etiam sit amet rutrum tortor. Vivamus eget diam metus, id tempus sapien. Integer auctor eros sit amet odio porttitor suscipit. Integer vel risus sed erat vulputate consectetur eget non erat.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="span12 super-gray-bottom-line"></div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span9 offset3">
				<h4 class="orange margin-top">Вопросы и ответы</h4>	
			</div>
			<div class="span3 align-r">
				<h3 class="orange">Lorem ipsum dolor sit amet ?</h3>
			</div>
			<div class="span9">
				<p>Да ! Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3 class="orange">Lorem ipsum dolor ?</h3>
			</div>
			<div class="span9">
				<p>Да ! Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3 class="orange">Lorem ipsum dolor ?</h3>
			</div>
			<div class="span9">
				<p>Да ! Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
	<div class="span12 margin-top">
		<div class="row">
			<div class="span3 align-r">
				<h3 class="orange">Lorem ipsum dolor ?</h3>
			</div>
			<div class="span9">
				<p>Да ! Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
</div>