<% @id = "feed_back" %>
<% @title = "О компании" %>
<div class="row">
    <div class="span9 offset3">
        <h1 class="orange">Обратная связь</h1>  
    </div>
    <div class="span12 margin-top">
        <div class="row">
            <div class="span9 offset3">
                <h2>Напишите нам свои пожелания или задайте вопрос<br /> и мы обязательно вам ответитм на эл. почту.</h2>
            </div>
        </div>
    </div>
    <div class="span12 gray-bottom-line margin-top"></div>
    <div class="span7 margin-top">
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label orange" for="input01">Имя</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="input01" placeholder="Андрей Давыдов">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label orange" for="input01">Телефон</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="input01" placeholder="+7(343) 201-14-05">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label orange" for="input01">E-mail</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="input01" placeholder="andr_dow@gmail.com">
                </div>
            </div>
          
          
            <div class="control-group">
                <label class="control-label orange" for="textarea">Textarea</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn pull-right">Отправить</button>

        </fieldset>
      </form>
</div>