<% @id = "good" %>
<% @title = "Скоростные ворота" %>

<div class="row">
    <div class="span12">
        <ul class="nav_add">
            <li>
                <a href="#">Промышленные ворота</a>
            </li>
            <li>
                <a class="active" href="#">Скоростные ворота</a>
            </li>
        </ul>
    </div>
    <div class="span12">
        <h2 class="orange margin-top">
            Скоростные ворота – серийно с блоком управления FU
        </h2>
    </div>
    <div class="span12">
        <div id="myCarousel" class="carousel slide margin-top">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/slider/bootstrap-mdo-sfmoma-01.jpg" alt="">
                    <div class="carousel-caption">
                        <h4>Супер Акция</h4>
                        <p>Купите ворота, и ваш гараж будет закрываться. Спите спокойно, зная, что ваши колёса останутся на вашей машине.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/slider/bootstrap-mdo-sfmoma-02.jpg" alt="">
                    <div class="carousel-caption">
                        <h4>Супер Акция</h4>
                        <p>Купите ворота, и ваш гараж будет закрываться. Спите спокойно, зная, что ваши колёса останутся на вашей машине.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/slider/bootstrap-mdo-sfmoma-03.jpg" alt="">
                    <div class="carousel-caption">
                        <h4>Супер Акция</h4>
                        <p>Купите ворота, и ваш гараж будет закрываться. Спите спокойно, зная, что ваши колёса останутся на вашей машине.</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>
    </div>
    <div class="span12">
        <div class="row">
            <div class="span3 align-r">
                <a class="gray" href="#">Каталог в PDF</a><br />
                <a class="gray"v href="#">Заказ по почте</a><br />
                <a class="gray" href="#">Данные для монтажа в формате PDF</a>
            </div>
            <div class="span9">
                <p>Скоростные ворота Hörmann используются в качестве внутренних и наружных ограждений для оптимизации транспортных потоков, для улучшения микроклимата в помещении и для сокращения энергозатрат. Обширная программа ворот Hörmann включает в себя прозрачные ворота с гибкой завесой, с вертикальным или горизонтальным открыванием, в комбинации с секционными воротами и рулонными воротами, а также спиральные ворота с гладкими алюминиевыми профилями.</p>
                <p>Более подробную информацию Вы найдете в каталоге, а также в Технических данных для монтажа.</p>
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="row">
            <div class="span6 margin-top">
                <h4 class="orange">Гаражные секционные ворота</h4>
                <img class="preview-m margin-top" src="img/preview/preview-m.png"/>
                <p class="margin-top">ellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. </p>
                <button class="btn">Читать дальше</button>   
            </div>
            <div class="span6 margin-top">
                <h4 class="orange">Гаражные секционные ворота</h4>
                <img class="preview-m margin-top" src="img/preview/preview-m.png"/>
                <p class="margin-top">ellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. </p>
                <button class="btn">Читать дальше</button>   
            </div>
        </div>
    </div>
</div>
