<% @id = "page_home" %>
<% @title = "Добро пожаловать" %>

<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span1">
                <div class="dark-blue box">
                    <img src="img/trademark.gif"/>
                </div>
            </div>
            <div class="span7 offset2">
                <h1 class="orange margin-top-big">Ворота для Вас</h1>
            </div>
            <div class="span2">
                <img class="pull-right logo-height" src="img/vdv_logo.png"/>
            </div>
        </div>
    </div>
    <div class="span12 margin-top-big">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/slider/bootstrap-mdo-sfmoma-01.jpg" alt=""/>
                    <div class="carousel-caption">
                        <h4>Супер Акция</h4>
                        <p>Купите ворота, и ваш гараж будет закрываться. Спите спокойно, зная, что ваши колёса останутся на вашей машине.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/slider/bootstrap-mdo-sfmoma-02.jpg" alt="">
                    <div class="carousel-caption">
                        <h4>Супер Акция</h4>
                        <p>Купите ворота, и ваш гараж будет закрываться. Спите спокойно, зная, что ваши колёса останутся на вашей машине.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/slider/bootstrap-mdo-sfmoma-03.jpg" alt="">
                    <div class="carousel-caption">
                        <h4>Супер Акция</h4>
                        <p>Купите ворота, и ваш гараж будет закрываться. Спите спокойно, зная, что ваши колёса останутся на вашей машине.</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>
    </div>

    <div class="span12 margin-top">
        <div class="row">
            <div class="span6">
                <div class="row">
                    <div class="span1">
                        <img class="pull-left" src="img/preview/preview.png"/>
                    </div>
                    <div class="span5">
                        <h4 class="orange">Гаражные секционные ворота</h4>
                        <p>ellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. </p>
                        <button class="btn">Читать дальше</button>
                    </div> 
                </div>    
            </div>
            <div class="span6">
                <div class="row">
                    <div class="span1">
                        <img class="pull-left" src="img/preview/preview.png"/>
                    </div>
                    <div class="span5">
                        <h4 class="orange">Гаражные секционные ворота</h4>
                        <p>ellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. </p>
                        <button class="btn">Читать дальше</button>
                    </div> 
                </div>    
            </div>
        </div>
    </div>
    <div class="span12 margin-top">
        <div class="row">
            <div class="span6">
                <div class="row">
                    <div class="span1">
                        <img class="pull-left" src="img/preview/preview.png"/>
                    </div>
                    <div class="span5">
                        <h4 class="orange">Гаражные секционные ворота</h4>
                        <p>ellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. </p>
                        <button class="btn">Читать дальше</button>
                    </div> 
                </div>    
            </div>
            <div class="span6">
                <div class="row">
                    <div class="span1">
                        <img class="pull-left" src="img/preview/preview.png"/>
                    </div>
                    <div class="span5">
                        <h4 class="orange">Гаражные секционные ворота</h4>
                        <p>ellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. </p>
                        <button class="btn">Читать дальше</button>
                    </div> 
                </div>    
            </div>
        </div>
    </div>
</div>
